{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <center> <strong> <font size="+3"> ~About This Website~ </font> </strong> </center> <br>
   <left>This is our final project for CS50, which takes the idea of Harvard's Q-guide which allows students to
    rate a class and a professor, and applies it to Whitney Young. <br> <br>
    This project was coded by Nicole Jarmula and Claire Fridkin. <br> <br>
    <strong>What is the Q Guide?</strong> <br> <br>
    The Q evaluations provide important student feedback about courses and teachers. The questions are multiple choice,
    though there's room for comments as well. The more specific a student can be about an observation or opinion, the more
    helpful their response.</left>

{% endblock %}
