{% extends "layout.html" %}

{% block title %}
    Change Your Password
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="form-group">
            <center> <input style="width: 500px" autocomplete="off" autofocus class="form-control" name="newpass" placeholder="New password" type="newpass"/> </center>
        </div>
        <div class="form-group">
            <center> <input style="width: 500px" class="form-control" name="confirmnewpass" placeholder="Confirm new password" type="newpass"/> </center>
        </div>
        <center> <button class="btn btn-primary" type="submit">Change your password</button> </center>
    </form>
{% endblock %}
