
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <center> <strong> <font size="+3"> Welcome to the Whitney M. Young Magnet High School Q Guide! </font> </strong> </center>
    <center> Check out the average ratings for your favorite teachers! </center>

    <table class="table table-striped">

    <tr>
        <thead>
            <th>Teacher</th>
            <th></th>
            <th></th>
            <th>Overall Rating</th>
            <th>Comments</th>
        </thead>
    </tr>
<br>
    {% for each in teacher_info %}
    <tr>

            <td> {{ each.name }} </td>
            <td></td>
            <td></td>
            <td> {{ each.overall }} </td>
            <td> {{ each.comments }} </td>


    </tr>
    {% endfor %}


{% endblock %}
