{% extends "layout.html" %}

{% block title %}
    Rank
{% endblock %}


{% block main %}

    <form action="/rank" method="post">
         <div class="form-group">
            <center> <select input style="width: 500px" class="form-control" name="class">
                <option disabled selected value="">Select course</option>
                {% for each in classes %}
                    <option value = "{{ each.name }}" > {{ each.name }} </option>
                {% endfor %}
            </select> </center>
        </div>
        <div class="form-group">
            <center> <select input style="width: 500px" class="form-control" name="teacher">
                <option disabled selected value="">Select teacher</option>
                {% for each in teacher %}
                    <option value = "{{ each.name }}" > {{ each.name }} </option>
                {% endfor %}
            </select> </center>
        </div>

        <center> <button class="btn btn-primary" type="submit" name="submit">Submit</button> </center>
        </div>
    </form>

{% endblock %}
