{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}

<table class="table table-striped">
    <tr>
        <center><h1> {{ teacher }}'s {{ class1 }}</h1></center>
        <thead>
            <th>Clarity</th>
            <th>Friendliness</th>
            <th>Overall Rating</th>
            <th>Comments</th>
        </thead>
    </tr>

    {% for each in teacher_info %}
    <tr>

            <td> {{ each.clarity }} </td>
            <td> {{ each.friendliness }} </td>
            <td> {{ each.overall }} </td>
            <td> {{ each.comments }} </td>


    </tr>
    {% endfor %}


{% endblock %}
