{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <center> <input style="width: 500px" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/> </center>
        </div>
        <div class="form-group">
            <center> <input style="width: 500px" class="form-control" name="password" placeholder="Enter password" type="password"/> </center>
        </div>
        <div class="form-group">
            <center> <input style="width: 500px" class="form-control" name="confirmation" placeholder="Confirm your password" type="password"/> </center>
        </div>
        <!--Change button from login to register-->
        <center> <button class="btn btn-primary" type="submit">Register</button> </center>
    </form>
{% endblock %}
